<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SqlServerTestApp.Properties.Settings.ParikmaherskayaConnectionString"
            connectionString="Data Source=204-5\PARIK;Initial Catalog=Parikmaherskaya;Persist Security Info=True;User ID=user"
            providerName="System.Data.SqlClient" />
        <add name="SqlServerTestApp.Properties.Settings.ConnectionString"
            connectionString="Data Source=204-5\PARIK;Persist Security Info=True;User ID=user"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>